<!DOCTYPE html>
<html>
    <head>
        <title>MakersBnB - Account Settings</title>
    </head>
    <body>
        <% if @can_update %>
            <h1>Account Settings</h1>
            <form action='/update-username-email' method='POST'>
                Current username: <%= @user.name %><br>
                <input type='text' placeholder='New username' name='name'><br>
                Current email: <%= @user.email %><br>
                <input type='text' placeholder='New email' name='email'><br>
                <input type='submit' value='Update'>
            </form>
            <hr>
            <form action='/update-password' method='POST'>
                <input type='password' placeholder='Password' required='required' name='old_password'><br>
                <input type='password' placeholder='New password' required='required' name='new_password'><br>
                <input type='password' placeholder='Confirm password' required='required' name='confirm_password'><br>
                <input type='submit' value='Update'>
            </form>
        <% else %>
            <form action='/account-settings' method='POST'>
              <input type='password' required='required' name='password'>
              <input type='submit' value='Enter'>
            </form>
        <% end %>
            <a href="/">Homepage</a>
    </body>
</html>