<!DOCTYPE html>
<html>
    <head>
        <title>MakersBnB - Listing Added</title>
        <link rel="stylesheet" href="/style-account-page.css"
        <link rel="icon" href="/MakersBnB Logo Just M.svg">
    </head>
    <nav>
      <div>
        <a href="/">
          <img class="resize" src="/logo.png" />
        </a>
      </div>
      <div class="nav_links_container">
        <div class="nav_links"><a href="/account-settings" class="button-link">Account Settings</a></div>
        <a href="/logout" class="button-link">Log out</a>
      </div>
    </nav>
<body>
<p>Your new listing has been added!</p>

