<!DOCTYPE html>
<html>
    <head>
        <title>MakersBnB - Log in</title>
    </head>
    <body>
      <form action="/login" method="POST">
        <input type="text" placeholder="Email" required="required" name="email"><br>
        <input type="password" placeholder="Password" required="required" name="password"><br>
        <input type="submit" value="Log in!">
      </form>
    </body>
</html>
