<!DOCTYPE html>
<html>
    <head>
        <title>MakersBnB - Log in</title>
        <link rel="stylesheet" href="/style-login.css"
        <link rel="icon" href="/MakersBnB Logo Just M.svg">
    </head>
    <nav>
      <div>
        <a href="/">
          <img class="resize" src="logo.png"  />
        </a>
      </div>
      <div class="nav_links_container">
        <div class="nav_links"><a href="/signup" class="button-link">Sign up</a></div>
      </div>
    </nav>
    <body>
    <div class="interior">
      <div class="login-container">
      <form action="/login" method="POST">
        <input type="text" placeholder="Email" required="required" name="email"><br>
        <input type="password" placeholder="Password" required="required" name="password"><br>
        <input type="submit" value="Log in!">
      </form>
      </div>
    </div>
    </body>
</html>