<h1>Makersbnb</h1>
<h2>Add a new listing</h2>

<form action="/listing/new" method="POST">
  <p>
    <label>listing name:</label>
    <input type="text" name="listing_name">
  </p>
  <p>
    <label>listing description:</label>
    <input type="text" name="listing_description">
  </p>
  <p>
    <label>listing price per night:</label>
    <input type="number" name="price">
  </p>
  <p>
    <label>user_id:</label>
    <input type="number" name="user_id">
  </p>

  <input type="submit" value="Submit the form">
</form>
