<!DOCTYPE html>
<html>
    <head>
        <title>MakersBnB - Request Sent</title>
        <link rel="stylesheet" href="/style-nav.css"
        <link rel="icon" href="/MakersBnB Logo Just M.svg">
    </head>
    <nav>
      <div>
        <a href="/">
          <img class="resize" src="/logo.png" />
        </a>
      </div>
      <div class="nav_links_container">
      <div class="nav_links">
      <a href="/account" class="button-link">Account Page</a>
      <a href="/logout" class="button-link">Log out</a>
      </div>
      </div>
    </nav>
    <body>
<p>Booking request successfully added!</p><br/>
