* {
  font-family: sans-serif;
  font-style: normal;

}

html, body {
  margin: 0;
  padding: 0;
}

nav {
  /* background-color: pink; */
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: Orem calc((100vw - 1300px) / 2) ;
  background-color: #9fdfe9;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.nav_links_container {
  /* background-color: yellow; */
  flex-direction: row;
  display: flex;
  padding-top: 40px;
}
.nav_links {
  height: 50%;
  /* background-color: red; */
  line-height: 100%;
  padding: 10px;
}

.resize {
  width: 400px;
  height: auto;
}

.button-link {
/* display: inline-block; */
padding: 10px 10px;
/* background-color: #01a0cb; */
color: #01a0cb;
text-decoration: none;
/* border-radius: 20px; */
}

.button-link:hover {
color: #007291;
}

body {
  height: 100vh;
  background-color: #fffff2;
  font-family: Arial, sans-serif;
}

.interior {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
  text-align: center; /* Center align the text boxes */
}

.form-group {
  margin-bottom: 20px;
  padding-right: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group textarea,
.form-group input[type="number"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.submit-btn {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #45a049;
}
