* {
    font-family: sans-serif;
    font-style: normal;

}

html, body {
    margin: 0;
    padding: 0;
  }

nav {
    /* background-color: pink; */
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: Orem calc((100vw - 1300px) / 2) ;
    background-color: #9fdfe9;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.nav_links_container {
    /* background-color: yellow; */
    flex-direction: row;
    display: flex;
    padding-top: 40px;
}
.nav_links {
    height: 50%;
    /* background-color: red; */
    line-height: 100%;
    padding: 10px;
}

.resize {
    width: 400px;
    height: auto;
}

.button-link {
  /* display: inline-block; */
  padding: 10px 10px;
  /* background-color: #01a0cb; */
  color: #01a0cb;
  text-decoration: none;
  /* border-radius: 20px; */
}

.button-link:hover {
  color: #007291;
}

body.interior {
    background-color: #fffff2;
    font-size: 18px;
}

.listing-title {
    padding-left: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: Orem calc((100vw - 1300px) / 2) ;
    padding-right: 30px;
}


.new-listing-link {
  display: inline-block;
  padding: 10px 10px;
  background-color: black;
  color: #fffff2;
  text-decoration: none;
  border-radius: 15px;
}

.new-listing-link:hover {
  background-color: #343434;
}

.listing-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding-left: 20px;
  }

.listing-box {
    width: 300px;
    height: 200px;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
  }
  
  .listing-box:hover {
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }

  .listing-box a {
    display: block;
    text-decoration: none;
    color: inherit;
  }
  
  .listing-box h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .listing-box p {
    font-size: 14px;
    line-height: 1.4;
  }
  