* {
  font-family: sans-serif;
  font-style: normal;

}

html, body {
  margin: 0;
  padding: 0;
}

nav {
  /* background-color: pink; */
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: Orem calc((100vw - 1300px) / 2) ;
  background-color: #9fdfe9;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.nav_links_container {
  /* background-color: yellow; */
  flex-direction: row;
  display: flex;
  padding-top: 40px;
}
.nav_links {
  height: 50%;
  /* background-color: red; */
  line-height: 100%;
  padding: 10px;
}

.resize {
  width: 400px;
  height: auto;
}

.button-link {
/* display: inline-block; */
padding: 10px 10px;
/* background-color: #01a0cb; */
color: #01a0cb;
text-decoration: none;
/* border-radius: 20px; */
}

.button-link:hover {
color: #007291;
}

body {
  height: 100vh;
  background-color: #fffff2;
  font-family: Arial, sans-serif;
}

.grid-container-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 5px;
  padding-right: 20px;
  padding-left: 20px;
}

.grid-item {
  grid-column: span 2;
}

.grid-item,
.additional-box {
  background-color: #fffff2;
  padding: 20px;
  border-radius: 5px;
  text-decoration: none;
  color: #000;
}

.grid-item:hover,
.additional-box:hover {
  background-color: #dcdcd2;
}

.grid-item h3,
.grid-item p,
.additional-box h3 {
  margin-top: 0;
}

.additional-box {
  grid-row-start: 2;
  margin: 0px 10px;
}

.row2 {
  display: flex;
  padding-bottom: 20px;
  max-width: 100%;
  margin: auto;
}

.grid-item:nth-child(odd) .additional-box,
.grid-item:nth-child(even) .additional-box {
  grid-column: span 1;
}

